//variables

$tomato: hsl(4, 100%, 67%)
$dark-slate-grey: hsl(234, 29%, 20%)
$grey: hsl(231, 7%, 60%)
$white: hsl(0, 0%, 100%)
$paragraph-font: 16px

@font-face 
    font-family: 'Roboto Regular'
    src: url(../fonts/Roboto-Regular.ttf)
    font-weight: 400
    font-style: normal

@font-face 
    font-family: 'Roboto Bold'
    src: url(../fonts/Roboto-Bold.ttf)
    font-weight: 700
    font-style: normal

    
*,
*::before,
*::after
    box-sizing: border-box

*
    margin: 0
    padding: 0
    scroll-behavior: smooth

html
    font-size: 62.5%

img
    width: 100%
    height: auto
    object-fit: cover

body
    position: relative
    font-size: 1.6rem
    font-family: 'Roboto Regular'
    display: flex
    flex-direction: column
    min-height: 100vh
    align-items: center

@media screen and (min-width: 600px)
    body
        background: $dark-slate-grey
        justify-content: center
 
.form
    max-width: 37.5rem

@media screen and (min-width: 600px)
    .form
        max-width: 850px
        background: $white
        padding: 2rem
        border-radius: 12px

.preSignup
    display: grid
    grid-template-areas: "image" "info"

@media screen and (min-width: 600px)
    .preSignup
        grid-template-areas: "info image"
        grid-template-columns: 55% 45%

.backgroundContainer
    grid-area: image

@media screen and (min-width: 600px)
    .backgroundContainer img
        height: 52rem
        border-radius: 12px
        object-position: 60%
    
.infoContainer
    grid-area: info
    padding-inline: 2.5rem

@media screen and (min-width: 600px)
    .infoContainer
        display: flex
        flex-direction: column
        padding-right: 6rem

.preTitle
    margin-block: 4rem 2rem
    font-family: 'Roboto Bold'
    color: $dark-slate-grey
    font-size: 4rem

@media screen and (min-width: 600px)
    .preTitle
        font-size: 5.5rem
        margin-block: 4rem 2rem

.preDesc
    color: $dark-slate-grey
    margin-bottom: 3rem
    line-height: 2.5rem

@media screen and (min-width: 600px)
    .preDesc
        margin-bottom: 1.5rem

ul
    display: flex
    flex-direction: column
    gap: 1rem
    margin-bottom: 4rem

@media screen and (min-width: 600px)
    ul
        margin-bottom: 3rem

li
    list-style: none
    display: flex
    gap: 2rem
    position: relative
    p
        line-height: 2.4rem
        color: $dark-slate-grey

@media screen and (min-width: 600px)
    li
        gap: 1.3rem

.iconList
    position: relative
    top: .2rem
    max-width: 2.2rem
    height: 2.2rem

.inputContainer
    display: flex
    flex-direction: column
    gap: 1rem

@media screen and (min-width: 600px)
    .inputContainer
        gap: 1rem

label[for="email"]
    color: $dark-slate-grey
    font-size: 1.2rem
    font-family: 'Roboto Bold'

input#email
    width: 100%
    height: 5.5rem
    padding-left: 2rem
    border-radius: 8px
    margin-bottom: 1.5rem
    border: 1px solid lighten($grey, 20%)
    &::placeholder
        font-size: 1.4rem

@media screen and (min-width: 600px)
    input#email
        margin-bottom: 1rem

.subButton
    width: 100%
    height: 5.5rem
    background: $dark-slate-grey
    color: $white
    font-family: 'Roboto Bold'
    font-size: 1.6rem
    border: none
    border-radius: 8px

.postSignup
    height: 0
    overflow: hidden

.attribution
    position: fixed
    bottom: 0  